#root {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

body {
  background-color: #301e67;
  font-size: 16px;
}

label {
  margin: 0;
  font-size: 1rem;
  margin: 0;
  color: #b6eada;
  display: block;
}

input {
  display: block;
  width: 100%;
  padding: 2px;
}

p {
  margin: 0;
  font-size: 1rem;
  margin: 0;
  color: #b6eada;
}

h1 {
  font-size: 2rem;
  margin: 0;
  color: #b6eada;
}

h2 {
  font-size: 1.8rem;
  margin: 0;
  color: #b6eada;
}
h3 {
  font-size: 1.4rem;
  margin: 0;
  color: #b6eada;
}
h4 {
  font-size: 1.2rem;
  margin: 0;
  color: #b6eada;
}

.container {
  display: flex;
  justify-content: center;
}

.col {
  display: block;
  padding: 1rem;
  width: 100%;
}

.btn {
  background: #5e5df0;
  min-width: 50px;
  max-height: 40px;
  padding: 5px;
  box-shadow: #5e5df0 0 10px 20px -15px;
  border-radius: 20px;
  color: white;
}

.btn:active {
  /* font-size: 1rem; */
  transform: scale(0.9);
  /* box-shadow: 0 3px 15px -2px; */
}
/* CSS */
